<template>
    <div>
        <div class="row text-center" style="margin-bottom: 15px;">
            <a @click="showNewPosts" v-show="new_posts.length !== 0">
                New posts
                <span class="badge">
                    {{ new_posts.length }}
                </span>
            </a>
        </div>
        <div class="jumbotron" v-for="(post ,index) in posts">
            <h1>
                {{ post.title }}
            </h1>
            <p>
                <!-- <img src="https://pbs.twimg.com/media/DZvOw6zVAAAFExc.png:large" alt="" class="thumbnail" style="width:100%;"> -->
                <img :src="post.image_url" :alt="post.title" class="thumbnail" style="width:100%;">
            </p>
            <p>
                {{ post.body }}
            </p>
        </div>
        <div class="alert alert-danger" role="alert" v-show="posts.length === 0">
            No posts yet
        </div>
        <div class="col-md-12 text-center">
            <a @click="load(0);" v-show="'next_page_url' in pagination && pagination.next_page_url"> Load more </a>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        url: {
            default: ''
        }
    },
    data() {
        return {
            posts : [],
            new_posts : [],
            pagination : {},
            page : 1,
            page_offset : 0,
            request_parameters : {}
        }
    },
    created() {
        this.load(1);
        this.listen();
    },
    methods : {
        listen: function(page) {
            var vm = this;
            window.Echo.channel('posts-channel')
            .listen("PostCreateEvent", (e) => {
                vm.new_posts.push(e.post);
            });
        },
        load: function(page = 0) {
            var vm = this;
            /**
            * Show loading screen
            */
            Event.$emit('show-loading-screen');
            if(page === 0){
                vm.request_parameters.page = vm.page;
            }else {
                vm.request_parameters.page = page;
            }

            axios({
                method: 'get',
                url: vm.url,
                params: vm.request_parameters
            }).then(function (response) {
                vm.pagination = response.data;
                for (var i = 0; i < vm.pagination.data.length; i++) {
                    vm.posts.push(vm.pagination.data[i]);
                }
                vm.page++;
                // vm.posts = vm.pagination.data;
                // console.log(vm.posts ,vm.pagination.data ,vm.pagination.data[0]);
                console.log(vm.pagination);
                /**
                * Hide loading screen
                */
                Event.$emit('hide-loading-screen');
            });
        },
        showNewPosts: function(){
            var vm = this;
            for (var i = 0; i < vm.new_posts.length; i++) {
                vm.posts.unshift(vm.new_posts[i]);
            }
            vm.new_posts = [];
        }
    }
}
</script>
